body {
    font-family: Arial, sans-serif;
    background-color: #11d1bb;
    margin: 22px;
}

h1 {
    text-align: center;
    color: #687f8f;
}

h2 {
    color: #e1cadf;
}

.planta {
    background-color: rgb(10, 166, 75);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(3, 16, 86, 0.2);
}

img {
    width: 250px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}